/* THESE ARE THE CUSTOM STYLINGS OF MY BUTTONS */

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.button.default {
  background-color: #F20544;
  border-color: transparent;
  color: #fff;
}

.button.emphasis {
  background-color: #F24405;
  border-color: transparent;
  color: #fff;
}

.button.secondary {
  background-color:#BF045B;
  border-color: transparent;
  color: #fff;
}

.button.small {
  font-size: 1rem;
}
  
.button.medium {
  font-size: 2rem;
}
  
.button.large {
  font-size: 4rem;
}

/* THESE ARE THE CUSTOM STYLINGS OF MY FORMS */

.field-label .label {
  font-size: inherit;
}
.field-label.small {
  font-size: 1rem;
  padding-top: 0.375em;
}
.field-label.medium {
  font-size: 2rem;
  padding-top: 0.375em;
}
.field-label.large {
  font-size: 4rem;
  padding-top: 0.375em;
}

.field.horizontal {
  display: flex;
}

.input.small,
.textarea.is-small {
  font-size: 0.75rem;
}

.input.medium,
.textarea.is-medium {
  font-size: 1.25rem;
}

.input.large,
.textarea.is-large {
  font-size: 1.5rem;
}

/* THESE ARE THE CUSTOM STYLINGS OF MY GRID */

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  color: #fff;
  background-color: #210140;
}

.column.full{
  flex: none;
  width: 100%;
}
.column.three-quarters {
  flex: none;
  width: 75%;
}
.column.half {
  flex: none;
  width: 50%;
}
.column.one-quarter {
  flex: none;
  width: 25%;
}