/* THESE ARE THE CUSTOM STYLINGS OF MY BUTTONS */

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

.button.default {
    background-color: #F20544;
    border-color: transparent;
    color: #fff;
  }

  .button.emphasis {
    background-color: #F24405;
    border-color: transparent;
    color: #fff;
  }

  .button.secondary {
    background-color:#BF045B;
    border-color: transparent;
    color: #fff;
  }

  .button.small {
    font-size: 1rem;
  }
  
  .button.medium {
    font-size: 2rem;
  }
  
  .button.large {
    font-size: 4rem;
  }

/* THESE ARE THE CUSTOM STYLINGS OF MY FORMS */

.input,
.textarea {
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 20%;
  }

  @media screen and (min-width: 769px), print {
    .field.is-horizontal {
      display: flex;
    }
  }
  
  .field-label .label {
    font-size: inherit;
  }
  
  @media screen and (max-width: 768px) {
    .field-label {
      margin-bottom: 0.5rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .field-label {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
      margin-right: 1.5rem;
      text-align: right;
    }
    .field-label.is-small {
      font-size: 0.75rem;
      padding-top: 0.375em;
    }
    .field-label.is-normal {
      padding-top: 0.375em;
    }
    .field-label.is-medium {
      font-size: 1.25rem;
      padding-top: 0.375em;
    }
    .field-label.is-large {
      font-size: 1.5rem;
      padding-top: 0.375em;
    }
  }
  
  .field-body .field .field {
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 769px), print {
    .field-body {
      display: flex;
      flex-basis: 0;
      flex-grow: 5;
      flex-shrink: 1;
    }
    .field-body .field {
      margin-bottom: 0;
    }
    .field-body > .field {
      flex-shrink: 1;
    }
    .field-body > .field:not(.is-narrow) {
      flex-grow: 1;
    }
    .field-body > .field:not(:last-child) {
      margin-right: 0.75rem;
    }
  }