/* THESE ARE THE CUSTOM STYLINGS OF MY BUTTONS */

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.button.default {
  background-color: #F20544;
  border-color: transparent;
  color: #fff;
}

.button.emphasis {
  background-color: #F24405;
  border-color: transparent;
  color: #fff;
}

.button.secondary {
  background-color:#BF045B;
  border-color: transparent;
  color: #fff;
}

.button.small {
  font-size: 1rem;
}
  
.button.medium {
  font-size: 2rem;
}
  
.button.large {
  font-size: 4rem;
}

/* THESE ARE THE CUSTOM STYLINGS OF MY FORMS */

.field-label .label {
  font-size: inherit;
}
.field-label.small {
  font-size: 1rem;
  padding-top: 0.375em;
}
.field-label.medium {
  font-size: 2rem;
  padding-top: 0.375em;
}
.field-label.large {
  font-size: 4rem;
  padding-top: 0.375em;
}

.input.small,
.textarea.is-small {
  font-size: 0.75rem;
}

.input.medium,
.textarea.is-medium {
  font-size: 1.25rem;
}

.input.large,
.textarea.is-large {
  font-size: 1.5rem;
}

